extends ../partials/header
block main
  input.display-none#activity(value=JSON.stringify(activity))
  input.display-none#results(value=JSON.stringify(results))
  input.display-none#universities(value=JSON.stringify(universities))
  .general-title Faaliyet Sonuçları - #{activity.name}
  .general-bread-cramp-wrapper
    a.general-each-bread-cramp-item(href='/') Ana Sayfa
    .general-each-bread-cramp-arrow >
    a.general-each-bread-cramp-item(href='/activity?season=' + activity.season) Faaliyetler
    .general-each-bread-cramp-arrow >
    .general-each-bread-cramp-item-last Faaliyet Sonuçları - #{activity.name}
  .general-form-outer-wrapper
    .general-form-left-column
      .general-form-wrapper
        .general-form-input-title.general-form-input-title-required Cinsiyet
        .general-select-input-wrapper
          input.general-select-input-value.display-none#gender-input(type='text' value='mix')
          input.general-select-input-search(type='text' placeholder='Listeden Seçin' value='Karma')
          .general-select-input-options-wrapper
            each key in Object.keys(gender_names)
              .general-select-input-each-option(id='select-input-' + key)= gender_names[key]
        .general-form-input-title Alt Branş
        .general-select-input-wrapper
          input.general-select-input-value.display-none(type='text')
          input.general-select-input-search#subbranch-input(type='text' placeholder='Listeden Seçin')
          .general-select-input-options-wrapper
            each subbranch in activity.branch.subbranches
              .general-select-input-each-option(id='select-input-' + subbranch)= subbranch
        .general-form-input-title Kategori
        .general-select-input-wrapper
          input.general-select-input-value.display-none(type='text')
          input.general-select-input-search#category-input(type='text' placeholder='Listeden Seçin')
          .general-select-input-options-wrapper
            each category in activity.branch.categories
              .general-select-input-each-option(id='select-input-' + category)= category
        .general-form-button-wrapper
          .general-form-second-button#save-button Kaydet
          .general-form-button#reload-button Sonuçları Göster
        .general-form-error#error
    .general-form-right-column
      .general-form-wrapper
        .general-form-input-title.general-form-input-title-required Sıralama
        if results.find(each => each.gender == 'mix' && !each.subbranch && !each.category)
          .general-custom-item-input-outer-wrapper
            .general-custom-input-items-wrapper.general-drag-and-drop-wrapper#order-wrapper
              each university in results.find(each => each.gender == 'mix' && !each.subbranch && !each.category).order
                .each-general-custom-input-item-wrapper
                  .each-general-custom-input-item-text(id=university._id)
                  svg.each-general-custom-input-item-icon(width='320' height='321' viewBox='0 0 320 321' fill='var(--blue)' xmlns='http://www.w3.org/2000/svg')
                    path(d='M310.6 266.4C323.1 278.9 323.1 299.15 310.6 311.65C304.4 317.9 296.2 321 288 321C279.8 321 271.62 317.875 265.38 311.625L160 206.3L54.63 311.6C48.38 317.9 40.19 321 32 321C23.81 321 15.63 317.9 9.375 311.6C-3.125 299.1 -3.125 278.85 9.375 266.35L114.775 160.95L9.375 55.6001C-3.125 43.1001 -3.125 22.8501 9.375 10.3501C21.875 -2.1499 42.125 -2.1499 54.625 10.3501L160 115.8L265.4 10.4001C277.9 -2.0999 298.15 -2.0999 310.65 10.4001C323.15 22.9001 323.15 43.1501 310.65 55.6501L205.25 161.05L310.6 266.4Z')
            .general-custom-item-input-wrapper
              .general-select-input-wrapper.general-custom-select-input-wrapper
                input.general-select-input-value.display-none(type='text')
                input.general-select-input-search(type='text' placeholder='Listeden Seçin')
                .general-select-input-options-wrapper
                  each university in universities
                    .general-select-input-each-option(id='select-input-' + university._id)= university.name
              svg.general-custom-input-add-button-select(width='512' height='512' viewBox='0 0 512 512' fill='var(--blue)' xmlns='http://www.w3.org/2000/svg')
                path(d='M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256ZM256 368C269.3 368 280 357.3 280 344V280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H280V168C280 154.7 269.3 144 256 144C242.7 144 232 154.7 232 168V232H168C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H232V344C232 357.3 242.7 368 256 368Z')
        else
          .general-custom-item-input-outer-wrapper
            .general-custom-input-items-wrapper.general-drag-and-drop-wrapper#order-wrapper
            .general-custom-item-input-wrapper
              .general-select-input-wrapper.general-custom-select-input-wrapper
                input.general-select-input-value.display-none(type='text')
                input.general-select-input-search(type='text' placeholder='Listeden Seçin')
                .general-select-input-options-wrapper
                  each university in universities
                    .general-select-input-each-option(id='select-input-' + university._id)= university.name
              svg.general-custom-input-add-button-select(width='512' height='512' viewBox='0 0 512 512' fill='var(--blue)' xmlns='http://www.w3.org/2000/svg')
                path(d='M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256ZM256 368C269.3 368 280 357.3 280 344V280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H280V168C280 154.7 269.3 144 256 144C242.7 144 232 154.7 232 168V232H168C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H232V344C232 357.3 242.7 368 256 368Z')
